.roomDate-div,
.excel-div {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
  align-items: center;
  justify-content: center;
}

.excel-div {
  flex-direction: row;
}

.capsule-btn {
  padding: 25px 15px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 10px;
  background-color: #e42478;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 90%;
}
.room-input {
  padding: 20px;
  font-size: 1.2rem;
  margin: 10px;
}

.excel-label {
  margin: 5px;
  width: 150px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background-color: aquamarine;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.excel-input {
  display: none;
}

.logout-btn,
.showExpl-btn,
.showRoom-btn {
  color: whitesmoke;
  padding: 5px;
  font-size: 0.7rem;
  border-radius: 10px;
  background-color: #0d7e43;
  border-width: 0;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  top: 10px;
  position: absolute;
}

.logout-btn {
  right: 10px;
}

.showExpl-btn {
  left: 10px;
}

.showRoom-btn {
  left: 80px;
}

.students-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: center;
}

.students-li {
  list-style: none;
  margin: 5px;
}

.teacher-check {
  padding: 20px;
  font-size: 1.3rem;
  margin: 20px;
}

.exp-li {
  list-style: none;
  margin: 10px;
  font-size: 1.2rem;
  padding: 5px;
}

.student-span {
  margin: 5px;
}
