.App {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:link {
  font-weight: bold;
  color: #5b2727;
  text-decoration: none;
}
a:visited {
  color: #5b2727;
  text-decoration: none;
}

button {
  cursor: pointer;
}
